<%- include('header'); -%>
<body >
    <div class="box" id="heading">
        <h1><%=listTitle%></h1>
    </div>
    <div class="box">
        <%for(var i=0;i<addItems.length;i++){ %>
            <div class="item">
            <input type="checkbox">
                <p><%=addItems[i]%></p>
            </div>
             <% } %>
    <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="add item" autocomplete="off">
    <button type="submit" name="button" value=<%=listTitle%>>+</button><br>
        </form>
    </div>
    <!-- <img src="image/working1.png" class="working-img2" > -->

</body> 

<%- include("footer"); -%>
</html>
